@{
    ViewData["Title"] = "About Project";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<p></p>
<p></p>
<h4><p>This application is EPAM's CapsStone Project</p></h4>
<p></p>
<p></p>
<h2><p>Written By Michaeli Pharkosadze</p></h2>